<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试平台</title>
    <!--    <link rel="stylesheet" type="text/css" href="/static/左侧导航栏/css/normalize.css"/>&lt;!&ndash;CSS RESET&ndash;&gt;-->
    <!--    <link rel="stylesheet" type="text/css" href="/static/左侧导航栏/css/htmleaf-demo.css">&lt;!&ndash;演示页面样式，使用时可以不引用&ndash;&gt;-->
    <!--awesome font include-->
    <link type="text/css" rel="stylesheet" href="/static/左侧导航栏/assets/css/font-awesome.min.css"/>
    <!--include plugin css-->
    <link type="text/css" rel="stylesheet" href="/static/左侧导航栏/src/jquery-rvnm.css"/>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="shortcut icon" href="/static/bitbug_favicon.ico">
</head>
<body>
<nav id="navbar" class="">
    <ul>
        <li>

            <a href="/prj_list/">
                项目列表
            </a>
        </li>
        <li>
            <a href="/api_debug/">
                接口调试
            </a>
        </li>
        <li>
            <a href="/admin/" target="_blank">
                后台管理
            </a>
        </li>
        <li>
            <a href="/help/">
                帮助
            </a>
        </li>

    </ul>

</nav>
<button id="menu_btn" onclick="display_menu()"
        style="position:absolute; left: 188px; top:48%; z-index:999; height:35px;
        background-color: #353c48; color: white; border:0; font-size: x-large"><
</button>
<!--左侧菜单隐藏展开逻辑-->
<script>
    function display_menu() {
        menu = document.getElementById('navbar');
        btn = document.getElementById('menu_btn');
        if (btn.innerText == '<') {
            menu.style.display = 'none';
            btn.style.left = '0px'
            btn.innerText = '>';
        } else {
            menu.style.display = 'block';
            btn.style.left = '188px'
            btn.innerText = '<';
        }
    }

</script>
<div style="font-size: large;position: absolute;top: 0px;right: 0px;box-shadow: 4px 4px 8px grey;
            padding-left: 5px;padding-right: 5px">
    <a href="/welcome/" style="color: black;text-decoration: none"> 主页 </a>
    <a href="/logout/" style="color: black;text-decoration: none"> 退出 </a>
</div>
<br>

<!--TestOne/static/js/jquery-1.11.0.min.js-->
<script src="/static/左侧导航栏/js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!--include plugin js-->
<script type="text/javascript" src="/static/左侧导航栏/src/jquery-rvnm.js"></script>
<!--js run code-->
<script type="text/javascript">
    $(function () {
        var rvnMenu = $("#navbar").rvnm({
//                    mode: 'mobile',
//                    responsive: false,
            searchable: true,
            theme: 'dark-lesb'
        });
        console.log(rvnMenu);
//                rvnMenu.setMode('minimal');
        rvnMenu.setTheme('dark-ruby');
    });

</script>
<div id="home"></div>
<!--基础页面直接加载home页面逻辑-->
<script>
    $('#home').load('/home/' + '{{ page }}/{{ oid }}/')
    if ("{{ page }}" != 'home.html') {
        document.getElementById('menu_btn').click();
    }


</script>

</body>
</html>