<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body style="text-align:center">
    <h1>欢迎使用 测试中台系统</h1>
    <h1>Welcome to ApiTest</h1>
    <div style="border: 1px solid black; width:200px; text-align:left; margin-left:-webkit-calc(50% - 100px); padding-left: 10px">
        <h2>如何使用?</h2>
        1.打开左侧菜单<br>
        2.找到要用的功能<br>
        1.点击进入<br><br>
    </div>
    <h2>更新信息</h2>
    <span>项目模块管理上线，并修复已知bug</span>

    <h2>反馈</h2>
    <span>如有问题，请发邮件至：xxxxxxxx@qq.com</span>
    <span>或进入<a href="">本平台的优化建议</a>中进行反馈</span>
</body>
</html>