<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口库</title>
    <style>

    </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation"
     style="position: absolute;top: 0px;left: 80px;width:-webkit-calc(100% - 200px);z-index: 1">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">项目名称：{{ project.name }}</span>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/prj_list/">返回项目列表</a></li>
                <li class="active"><a href="/apis/{{ project.id }}/">接口库</a></li>
                <li><a href="/cases/{{ project.id }}/">用例库</a></li>
                <li><a href="/prj_setting/{{ project.id }}/">项目设置</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%">id</th> <th style="width: 20%">接口名称</th> <th style="width: 40%">url</th> <th>操作</th>
        </tr>
    </thead>
    <tbody>
         {% for i in apis %}
             <tr>
                <td>{{ i.prj_id }}</td><td>{{ i.api_name }}</td> <td>{{ i.api_url }}</td>  <td>
                 <button onclick="" class="btn btn-success">调试</button>
                 <button onclick="" class="btn btn-primary">复制</button>
                 <button onclick="" class="btn btn-warning">异常值测试</button>
                 <button onclick="" class="btn btn-primary">备注</button>
                 <button onclick="document.location.href='/prj_api_del/{{ i.id }}/'" class="btn btn-danger" >删除</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div style="position: fixed; bottom:1px; width: 100%; background-color: #f8f8f8;
        text-align: center; border: 1px solid #e7e7e7">
    <div class="btn-group">
        <button type="button" class="btn btn-default" onclick="document.location.href='/prj_api_add/{{ project.id }}/'">新增接口</button>
        <button type="button" class="btn btn-default">全局请求头</button>
        <button type="button" class="btn btn-default">全局域名</button>
        <button type="button" class="btn btn-default">接口文档导入</button>
        <button type="button" class="btn btn-default">抓包导入</button>
        <button type="button" class="btn btn-default">加密算法</button>
        <button type="button" class="btn btn-default">登录态接口</button>
    </div>
</div>
</body>
</html>